<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIFsJ5pzmoDf0tENVPcvBKVYIN4WiFxBY</string>
	<key>GCM_SENDER_ID</key>
	<string>187522698641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.airbnbScheduler.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>lodgepilot-97d8f</string>
	<key>STORAGE_BUCKET</key>
	<string>lodgepilot-97d8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187522698641:ios:88555dfb75b97d7a641e30</string>
</dict>
</plist>